{{- if and .Values.postgresql.enabled .Values.postgresql.haproxy.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pgvector.fullname" . }}-haproxy
  labels:
    {{- include "pgvector.labels" . | nindent 4 }}
    app.kubernetes.io/component: haproxy
spec:
  replicas: {{ .Values.postgresql.haproxy.replicaCount | int }}
  selector:
    matchLabels:
      {{- include "pgvector.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: haproxy
  template:
    metadata:
      labels:
        {{- include "pgvector.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: haproxy
      {{- with .Values.postgresql.haproxy.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ include "pgvector.serviceAccountName" . }}
      containers:
        - name: haproxy
          image: {{ .Values.postgresql.haproxy.image.registry }}/{{ .Values.postgresql.haproxy.image.repository }}:{{ .Values.postgresql.haproxy.image.tag }}
          imagePullPolicy: {{ .Values.postgresql.haproxy.image.pullPolicy }}
          args:
            - "-f"
            - /usr/local/etc/haproxy/haproxy.cfg
            - "-W"
            - "-db"
          ports:
            - name: postgresql
              containerPort: {{ .Values.postgresql.haproxy.service.port }}
              protocol: TCP
          readinessProbe:
            tcpSocket:
              port: postgresql
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: postgresql
            initialDelaySeconds: 10
            periodSeconds: 20
          resources:
            {{- toYaml .Values.postgresql.haproxy.resources | nindent 12 }}
          volumeMounts:
            - name: haproxy-config
              mountPath: /usr/local/etc/haproxy
      volumes:
        - name: haproxy-config
          configMap:
            name: {{ include "pgvector.fullname" . }}-haproxy-config
      {{- with .Values.postgresql.haproxy.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.postgresql.haproxy.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.postgresql.haproxy.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}

