{{- if and .Values.postgresql.enabled .Values.postgresql.haproxy.enabled }}
{{- $fullname := include "pgvector.fullname" . }}
{{- $namespace := .Release.Namespace }}
{{- $haproxyPort := .Values.postgresql.haproxy.service.port }}
{{- $replicaWeight := ternary (int .Values.postgresql.haproxy.readReplicaRouting.replicaPercentage) 0 .Values.postgresql.haproxy.readReplicaRouting.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $fullname }}-haproxy-config
  labels:
    {{- include "pgvector.labels" . | nindent 4 }}
    app.kubernetes.io/component: haproxy-config
data:
  haproxy.cfg: |
    global
      maxconn 4096

    defaults
      log global
      mode tcp
      timeout connect 5s
      timeout client  60s
      timeout server  60s
      option tcplog

    frontend pgsql
      bind *:{{ $haproxyPort }}
      default_backend pgsql_backend

    backend pgsql_backend
      mode tcp
      option tcp-check
      default-server inter 3s fall 3 rise 2
{{- if .Values.postgresql.pgbouncer.enabled }}
      server pgbouncer {{ $fullname }}-pgbouncer.{{ $namespace }}.svc.cluster.local:{{ .Values.postgresql.pgbouncer.service.port }} check
{{- else }}
      balance roundrobin
      server master {{ $fullname }}-postgresql-master.{{ $namespace }}.svc.cluster.local:5432 weight {{ max 1 (sub 100 $replicaWeight) }} check
{{- if gt (int .Values.postgresql.replica.replicaCount) 0 }}
      server replica {{ $fullname }}-postgresql-replica.{{ $namespace }}.svc.cluster.local:5432 weight {{ max 0 $replicaWeight }} check
{{- end }}
{{- end }}
{{- end }}

