{{- if and .Values.postgresql.enabled .Values.postgresql.pgbouncer.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pgvector.fullname" . }}-pgbouncer
  labels:
    {{- include "pgvector.labels" . | nindent 4 }}
    app.kubernetes.io/component: pgbouncer
spec:
  replicas: {{ .Values.postgresql.pgbouncer.replicaCount | int }}
  selector:
    matchLabels:
      {{- include "pgvector.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: pgbouncer
  template:
    metadata:
      labels:
        {{- include "pgvector.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: pgbouncer
      {{- with .Values.postgresql.pgbouncer.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ include "pgvector.serviceAccountName" . }}
      {{- with .Values.postgresql.pgbouncer.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: pgbouncer
          image: {{ .Values.postgresql.pgbouncer.image.registry }}/{{ .Values.postgresql.pgbouncer.image.repository }}:{{ .Values.postgresql.pgbouncer.image.tag }}
          imagePullPolicy: {{ .Values.postgresql.pgbouncer.image.pullPolicy }}
          ports:
            - name: pgbouncer
              containerPort: 5432
              protocol: TCP
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "pgvector.postgresql.secretName" . }}
                  key: postgres-user
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "pgvector.postgresql.secretName" . }}
                  key: postgres-password
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: {{ include "pgvector.postgresql.secretName" . }}
                  key: postgres-database
            - name: PGBOUNCER_POOL_MODE
              value: {{ .Values.postgresql.pgbouncer.poolMode | quote }}
            - name: PGBOUNCER_MAX_CLIENT_CONN
              value: {{ .Values.postgresql.pgbouncer.maxClientConn | quote }}
            - name: PGBOUNCER_DEFAULT_POOL_SIZE
              value: {{ .Values.postgresql.pgbouncer.defaultPoolSize | quote }}
            - name: PGBOUNCER_MIN_POOL_SIZE
              value: {{ .Values.postgresql.pgbouncer.minPoolSize | quote }}
            - name: PGBOUNCER_POOL_SIZE
              value: {{ .Values.postgresql.pgbouncer.poolSize | quote }}
            - name: PGBOUNCER_LISTEN_PORT
              value: "5432"
            - name: POSTGRES_MASTER_HOST
              value: {{ include "pgvector.fullname" . }}-postgresql-master.{{ .Release.Namespace }}.svc.cluster.local
            - name: POSTGRES_MASTER_PORT
              value: "5432"
          command:
            - /bin/sh
            - -c
            - |
              set -e
              mkdir -p /etc/pgbouncer
              
              cat > /etc/pgbouncer/pgbouncer.ini <<EOF
              [databases]
              ${POSTGRES_DB} = host=${POSTGRES_MASTER_HOST} port=${POSTGRES_MASTER_PORT}
              
              [pgbouncer]
              listen_addr = 0.0.0.0
              listen_port = ${PGBOUNCER_LISTEN_PORT}
              auth_type = md5
              auth_file = /etc/pgbouncer/userlist.txt
              pool_mode = ${PGBOUNCER_POOL_MODE}
              max_client_conn = ${PGBOUNCER_MAX_CLIENT_CONN}
              default_pool_size = ${PGBOUNCER_DEFAULT_POOL_SIZE}
              min_pool_size = ${PGBOUNCER_MIN_POOL_SIZE}
              max_db_connections = ${PGBOUNCER_POOL_SIZE}
              max_user_connections = ${PGBOUNCER_POOL_SIZE}
              reserve_pool_size = 1
              reserve_pool_timeout = 5.0
              server_round_robin = 1
              ignore_startup_parameters = extra_float_digits,prepare_threshold
              log_connections = 1
              log_disconnections = 1
              log_pooler_errors = 1
              stats_period = 60
              admin_users = ${POSTGRES_USER}
              EOF
              
              echo "\"${POSTGRES_USER}\" \"${POSTGRES_PASSWORD}\"" > /etc/pgbouncer/userlist.txt
              
              exec pgbouncer /etc/pgbouncer/pgbouncer.ini
          resources:
            {{- toYaml .Values.postgresql.pgbouncer.resources | nindent 12 }}
      {{- with .Values.postgresql.pgbouncer.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.postgresql.pgbouncer.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.postgresql.pgbouncer.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}

