apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "redis.fullname" . }}
  labels:
    {{- include "redis.labels" . | nindent 4 }}
data:
  redis.conf: |
    appendonly yes
    maxmemory {{ .Values.redis.config.maxmemory }}
    maxmemory-policy {{ index .Values.redis.config "maxmemory-policy" }}
    tcp-keepalive 60
    timeout 0
    save ""
